/* src/App.css */
.container{
  margin-top: 10vh;
}
.calculator {
  
  width: 320px;
  margin: auto;
  border: none;
  border-radius: 20px;
  background-color: #000000; /* Qora fon */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.display {
  height: 80px;
  background-color: #1a1a1a; /* Qora ton */
  color: #ffffff; /* Oq rang */
  border-radius: 10px;
  font-size: 40px;
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #4d4d4d; /* Qora kulrang */
  color: #ffffff; /* Oq rang */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #666666; /* Oq va qora aralashmasi */
}

.operator {
  background-color: #ff9800; /* To'q sariq */
}

.operator:hover {
  background-color: #e68a00; /* Yorqin sariq */
}

.zero {
  grid-column: span 2; /* 0 tugmasini ikki ustunga cho'zish */
}
.ac {
  grid-column: span 3; /* 0 tugmasini ikki ustunga cho'zish */
 background-color: rgb(172, 170, 170);
 
}
